################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/packages

/TrackerLibrary/bin
/TrackerUI/bin


/TrackerLibrary/.vscode
/TrackerUI/.vscode


/TrackerLibrary/obj
/TrackerUI/obj

